<section>
  <div>
  </div>
</section>

{% schema %}
{
  "name": "Variant Grid",
  "tag": "section",
  "settings": [
    {
      "type": "product",
      "label": "Product to display",
      "id": "product"
    }
  ],
  "presets": [
    {
      "name": "Variant Grid"
    }
  ]
}
{% endschema %}

